.window-container {
    width: 50vw;
    display: flex;
    padding: 20px;
    flex-direction: column;
}
  
.window-output {
    white-space: pre;
    font-size: 20px;
    border: 1px #fff solid;
    padding: 10px;
    border-radius: 8px;
    overflow: scroll;
    height: 100%;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.window-output::-webkit-scrollbar {
    display: none;
}